<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureEndpoint" value="https://ussouthcentral.services.azureml.net/workspaces/ede0b3ce4eb042b4952ebec217073d6f/services/6f8995d9115b43d0b6adfb04ef2334ba/execute?api-version=2.0&amp;details=true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>